@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background-color: #f44336 !important; 
  color: white !important;
  
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-label-text-color: white;
  --mat-snack-bar-button-color: white;

  .mat-simple-snackbar-action {
    color: white;
  }
}
