<div class="page-wrapper">
  <mat-toolbar color="primary" class="page-toolbar">
    <button mat-icon-button (click)="layout.toggleMenu()" aria-label="Abrir/fechar menu">
      <mat-icon>menu</mat-icon>
    </button>
    <app-toolbar-logo></app-toolbar-logo>

    <span class="toolbar-title">Configuração de empréstimo</span>
    <span style="flex: 1 1 auto;"></span>
    <app-toolbar-user-actions></app-toolbar-user-actions>
  </mat-toolbar>

  <div class="content settings-content">
  </div>
</div>
